.odd-introduce{
    width: 930px;
    height: 690px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    position: relative;
}
.odd-introduce img{
    margin-top: 105px;
    margin-left: 165px;
    position: relative;
    cursor: pointer;

}
.odd-introduce .grey-area{
    width: 350px;
    height: 225px;
    background-color: #f5f3f3;
    position: absolute;
    top: 30px;
    right: 0;
}
button{
    position: relative;
    left: -40px;
    top: -220px;
    font-size: 30px;
    color: red;
}
.advantage{
    width: 320px;
    position: absolute;
    left: 0;
    top: 0;
}
.advantage h2{
    font-size: 32px;
    color: white;
    padding: 10px;
    background-color: brown;
}
h2 span{
    margin-right: 20px;
    writing-mode: vertical-lr;
    font-size: 80px;
}
.advantage .tex{
    background-color: black;
    color: white;
    text-align: left;
}
.advantage h3{
    font-size: 22px;
    font-weight: 600;
    padding: 15px;
}
.advantage p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0 15px 15px;
}
.function{
    background-color: #eee;
    width: 645px;
    padding: 20px 20px 10px;
    position: absolute;
    left: 70px;
    bottom: 0;
}
.list {
    margin-top: 10px;
}
.list span{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}
.list ul{
    margin: 5px 0;
}
.function h3{
    color: brown;
    font-weight: 600;
    font-size: 18px;
}
.function ul{
    list-style-type: square;
    margin-left: 20px;
}
.even-introduce{
    width: 930px;
    height: 660px;
    margin: auto;
    position: relative;
}
.even-introduce img{
    margin-top: 105px;
    position: relative;
    cursor: pointer;

}
.even-introduce .grey-area{
    width: 517px;
    height: 412px;
    background-color: #f5f3f3;
    position: absolute;
    top: 30px;
    left: 250px;
}
.even-introduce button{
    left: -705px;
    top: -195px;
}
.even-introduce .advantage{
    left: 610px;
    top: 0;
}
.even-introduce .function{
    left: 245px;
}
.even-introduce h2{
    text-align: right;
}

