.odd-introduce{
    width: 925px;
    height: 800px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(14,1fr);
}
.odd-introduce img{
    grid-column: 3/11;
    grid-row: 3/12;

}
.odd-introduce button{
    width: 90px;
    grid-column: 11/14;
    grid-row: 7/8;
}
.grey-area{
    background-color: #f5f3f3;
    grid-column: 9/14;
    grid-row: 2/6;
}
.advantage{
    grid-column: 1/5;
    grid-row: 1/5;
} 
.advantage h2{
    font-size: 32px;
    color: white;
    padding: 10px;
    background-color: brown;
    grid-column: 1/6;
    grid-row: 1/3;
}
h2 span{
    margin: 5px;
    writing-mode: vertical-lr;
    font-size: 80px;
}
.advantage .tex{
    background-color: black;
    color: white;
    text-align: left;
    grid-row: 3/5;
    grid-column: 1/6;
}
.advantage h3{
    font-size: 22px;
    font-weight: 600;
    padding: 15px;
}
.advantage p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0 15px 15px;
}
.function{
    background-color: #eee;
    padding: 20px;
    grid-column: 2/11;
    grid-row: 10/15;
}
.list {
    margin-top: 10px;
}
.list h4{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}
.list ul{
    margin: 10px 0;
}
.function h3{
    color: brown;
    font-weight: 600;
    font-size: 18px;
}
.function ul{
    list-style-type: square;
    margin-left: 20px;
}
.even-introduce{
    width: 925px;
    height: 800px;
    margin: auto;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(14,1fr);
}
.even-introduce .grey-area{
    background-color: #f5f3f3;
    grid-column: 5/12;
    grid-row: 2/8;
}
.even-introduce img{
    grid-column: 2/11;
    grid-row: 3/10;

}
.even-introduce .advantage{
    background-color: brown;
    grid-column: 9/13;
    grid-row: 1/5;
}
.even-introduce .advantage h2{
    text-align: end;
}
.even-introduce .function{
    grid-column: 5/13;
    grid-row: 9/13;
}
.even-introduce button{
    margin-left: 60px;
    width: 90px;
    grid-column: 1/3;
    grid-row: 6/7;
}

