.city-web-path a::after{
    content: ">";
    color: #999;
}
.city-web-path ul> li:last-child>a:after{
    display: none;
}
.city-web-path ul> li:last-child>a{
    color: #999;
}
.city-web-path{
    text-align: 0.75rem;
    color: #138184;
    
}
h2{
    font-size: 2rem;
}
.city-product-list-banner{
    background-color: #F6F7F9;
}
.city-product-type-list{
    overflow-x: auto;
    white-space: nowrap;
    webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.city-product-type-list::-webkit-scrollbar {
    display: none;
}
.city-filter-bnt::-webkit-scrollbar{
    display: none;
}
.city-product-type-list .btn{
    padding: 12px 16px;
    font-size: 1rem;
    box-shadow: none;
}
.city-product-type-list:hover > li{
    color: #26bec9;
}
.city-product-type-list-wrap{
    background-color: #fff;
    
}
.city-filter-wrap{
    background-color: #fff;
    padding-top: 10px;
}
.city-filter-bnt{
    overflow: auto;
}
.city-filter-bnt .btn{
    border-radius: 15px;
    margin-left: 10px;
}
.city-filter-icon{
    font-size: 2rem;
    /* padding-left: 0; */
    text-align: center;
}
.commodity .carousel-inner span{
    z-index: 1;
}
.commodity .card{
    border-radius: 10px;
}
.commodity .card img{
    /* border-radius: 10px; */
}
.commodity .card .carousel-inner{
    border-radius: 10px;
    /* height: 150px; */
    overflow: hidden;
    height: 150px;
}
.commodity .card .card-footer{
    background-color: white;
}
.score i{
    color: #26bec9;
}
@media screen and (min-width: 360px){
    html{
        font-size:80%;
    }
}
@media screen and (min-width: 720px){
    html{
        font-size:87.5%;
    }
    .container{
        max-width: 996px;
    }
    
    
}
@media screen and (min-width: 980px){
    html{
        font-size: 100%;
    }
    .container{
        max-width: 1200px;
    }
    
    

}
@media screen and (min-width: 1200px){
    html{
        font-size: 100%;
    }
    .container{
        max-width: 1200px;
    }
    .city-product-type-list-wrap{
        background-color: #F6F7F9;
        padding-bottom: 10px;
    }
    .city-product-type-list .btn{
        width: 170px;
        height: 60px;
        border: 1px solid #999;
        background-color: #fff;
        text-align: start;
        font-weight: bold;
    }
    .city-product-type-list li{
        margin-right: 10px;
    }
    .city-filter-wrap{
        display: none;
    }
}

