header {
    z-index: 10;
    background-color: white;
}
.nav-limit .container-fluid,
.fixed-width {
    box-sizing: border-box;
}
h1 {
    width: 20%;
    max-width: 80px;
}
.nav-limit {
    top: 0;
    left: 0;
}
.nav-limit .navbar-nav a:hover,
.category-limit a:hover {
    color: #26bec9 !important;
}
.souvenirs-banner {
    position: relative;
}
.souvenirs-banner img {
    width: 100%;
    height: 230px;
    vertical-align: bottom;
    object-fit: cover;
}
.souvenirs-banner .input-group {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
}
.souvenirs-banner .input-group button {
    width: 65px;
    height: 65px;
    background-color: var(--logoColor);
}
.souvenirs-banner .input-group button:hover {
    box-shadow: inset 100px 100px rgba(1, 1, 1, .2);
}
.todaygift-about {
    background-color: var(--todaygift-bgc);
    padding-bottom: 50px;
}
.todaygift-about h2 {
    padding-top: 75px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}
.todaygift-about p {
    margin: 0 8px;
    line-height: 1.5;
    text-align: start;
    font-size: 0.875rem;
}
.todaygift-event {
    background-color: var(--todaygift-bgc);
}
h3{
    font-size: 1.5rem;
    margin: 0 10px 20px;
}
h4{
    font-size: 1rem;
    line-height: 1.4;
}
.todaygift-event .row {
    margin: 0;
}
.todaygift-event i {
    color: rgb(247, 227, 45);
}
.todaygift-event .card span{
    opacity: 0;
}
.todaygift-event .card a{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.todaygift-event .card:hover a::before{
    content: "";
    position: absolute;
    top:0; 
    right:0; 
    bottom:0; 
    left:0;
    background:rgba(1, 1, 1, .3);
    filter: blur(5px);
    margin: -10px;
}
.todaygift-event .card:hover a > span{
    transition: 0.8s;
    opacity: 1;
}
.card .card-footer{
    background-color: var(--todaygift-bgc);
}
.describe{
    font-size: 0.875rem;
    margin: 0 10px;
}
.todaygift-event .card,
.todaygift-event .card img {
    border-radius: 15px;
}
.confession-mom .card,
.eatFood .card,
.sweet-dessert .card{
    overflow: hidden;
    border-radius: 10px;
}
.confession-mom .card:hover img,
.eatFood .card:hover img,
.sweet-dessert .card:hover img {
    transform: scale(1.2);
    transition: All 1s;
}
.confession-mom .card  a > div,
.eatFood .card a > div,
.sweet-dessert .card a > div{
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}
.souvenirs-first .card  a > div,
.exoticFood .card a > div{
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}
.confession-mom h3 i {
    color: red;
}
.confession-mom .fa-regular {
    color: white;
}
.confession-mom {
    background-color: var(--todaygift-bgc);
    padding: 60px 0 40px;
}
.confession-mom .row,
.eatFood .row,
.sweet-dessert .row {
    margin: 15px 0 0;
}
.confession-mom .city,
.eatFood .city,
.sweet-dessert .city {
    display: flex;
    align-items: flex-start;
}
.confession-mom a,
.eatFood a,
.sweet-dessert a {
    color: black;
}
.confession-mom .card img,
.eatFood .card img,
.sweet-dessert .card img{
    border-radius: 10px;
}
.confession-mom .card .remind,
.eatFood .card .remind,
.sweet-dessert .card .remind {
    background-color: rgba(100, 179, 244, .1);
    padding: 3px;
    color: #36a1fa;
    font-weight: 600;
}
.eatFood,
.sweet-dessert,
.souvenirs-first {
    background-color: var(--todaygift-bgc);
    padding: 0 0 40px;
}
.card-body:not(h4){
    font-size: 0.75rem;
}
.card-body strong{
    font-size: 0.875rem;
}
.score i {
    color: var(--logoColor);
}
.sweet-dessert h3 i {
    color: rgb(158, 94, 41);
}
.souvenirs-first a,
.exoticFood a {
    color: black;
}
.souvenirs-first .row,
.exoticFood .row {
    margin: 15px 0 0;
}
.souvenirs-first .card,
.exoticFood .card{
    overflow: hidden;
    border-radius: 10px;
}
.souvenirs-first .card img,
.exoticFood .card img{
    border-radius: 10px;
}
.souvenirs-first .city,
.exoticFood .city {
    display: flex;
    align-items: flex-start;
}
.souvenirs-first .card:hover img,
.exoticFood .card:hover img {
    transform: scale(1.2);
    transition: All 1s;
}
.souvenirs-first .card .remind,
.exoticFood .card .remind {
    background-color: rgba(100, 179, 244, .1);
    padding: 3px;
    color: #36a1fa;
    ;
}
.exoticFood {
    background-color: var(--todaygift-bgc);
    padding: 0 0 40px;
}
.exoticFood h3 i {
    color: rgb(239, 174, 44);
}
.copyright {
    padding: 30px 0;
}
.copyright .TOday-reserve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.community i {
    background-color: #555;
    padding: 11px;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: white;
    margin: 0 3px;
}
.community i:hover {
    background-color: var(--logoColor);
}
.expand {
    margin: 0 10px;
}
.expand button {
    border: none;
    background-color: var(--todaygift-bgc);
    color: var(--logoColor);
}
.scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(0, 0, 0, .4);
    width: 40px;
    height: 40px;
    text-align: center;
    opacity: .8;
    border-radius: 2px;
    display: none;
}
.scroll i {
    margin-top: 13px;
    color: white;
}
.scroll:hover {
    background-color: #333333;
    transition: 1s;
}
@media screen and (max-width: 768px) {
    .souvenirs-banner .input-group {
        width: 290px;
        height: 65px;
    }
    .todaygift-about {
        max-width: 100%;
    }
    html {
        font-size: 80%;
    }
}
@media screen and (min-width: 768px) {
    .souvenirs-banner .input-group {
        width: 750px;
        height: 65px;
    }
    .souvenirs-banner img {
        height: 555px;
    }
    .todaygift-about {
        max-width: 100%;
    }
    html {
        font-size: 87.5%;
    }
    /* .todaygift-about h2 {
        font-size: 1.3rem;
    }
    .todaygift-about p {
        font-size: 0.76rem;
    } */
    .todaygift-event .card {
        width: 360px;
    }
    .todaygift-event img {
        height: 160px;
    }
    .todaygift-event h3,
    .confession-mom h3,
    .eatFood h3 {
        margin: 0 15px 10px;
        /* font-size: 1.3rem; */
    }
    .sweet-dessert h3,
    .souvenirs-first h3,
    .exoticFood h3 {
        margin: 0 15px 10px;
        /* font-size: 1.3rem; */
    }
    /* .confession-mom h4,
    .eatFood h4,
    .sweet-dessert h4 {
        font-size: 0.875rem;
    }
    .souvenirs-first h4,
    .exoticFood h4 {
        font-size: 0.875rem;
    } */
    .confession-mom .card,
    .eatFood .card,
    .sweet-dessert .card {
        height: 350px;
    }
    .confession-mom .describe,
    .eatFood .describe,
    .sweet-dessert .describe{
        margin: 0 15px;
    }
    .souvenirs-first .describe,
    .exoticFood .describe{
        margin: 0 15px;
    }
    .souvenirs-first .card,
    .exoticFood .card {
        height: 350px;
    }
    .scroll {
        display: block;
    }
    .community i {
        padding: 10px;
    }
    /* .confession-mom .card .remind,
    .eatFood .card .remind,
    .sweet-dessert .card .remind {
        font-size: 0.656rem;
    }
    .souvenirs-first .card .remind,
    .exoticFood .card .remind{
        font-size: 0.656rem;
    }
    .score {
        font-size: 0.656rem;
    } */
    /* .confession-mom .card-footer span,
    .eatFood .card-footer span,
    .sweet-dessert .card-footer span{
        font-size: 0.656rem;
    }
    .souvenirs-first .card-footer span,
    .exoticFood .card-footer span{
        font-size: 0.656rem;
    }
    .confession-mom .card-footer del,
    .eatFood .card-footer del,
    .sweet-dessert .card-footer del{
        font-size: 0.656rem;
    }
    .souvenirs-first .card-footer del,
    .exoticFood .card-footer del{
        font-size: 0.656rem;
    } */
}
@media screen and (min-width: 992px) {
    html {
        font-size: 100%;
    }
    /* .todaygift-about h2 {
        font-size: 1.5rem;
    } */
    .todaygift-about p {
        margin: 0 130px;
        /* font-size: 0.875rem; */
    }
    .todaygift-event h3 {
        margin: 0 25px 20px;
        /* font-style: 1.5rem; */
    }
    .todaygift-event .card {
        margin: 0 10px;
    }
    .confession-mom h3,
    .eatFood h3,
    .sweet-dessert h3 {
        /* font-style: 1.5rem; */
        margin: 0 25px 20px;
    }
    .confession-mom .describe,
    .eatFood .describe,
    .sweet-dessert .describe {
        margin: 0 25px 0;
    }
    .confession-mom .row,
    .eatFood .row,
    .sweet-dessert .row {
        margin-left: 10px;
    }
    .confession-mom .card {
        width: 300px;
    }
    .eatFood .card {
        width: 300px;
    }
    .sweet-dessert .card {
        width: 300px;
    }
    .souvenirs-first .row,
    .exoticFood .row {
        margin-left: 10px;
    }
    .souvenirs-first h3,
    .exoticFood h3 {
        /* font-style: 1.5rem; */
        margin: 0 25px 20px;
    }
    /* .confession-mom h4,
    .eatFood h4,
    .sweet-dessert h4 {
        font-size: 1rem;
    }
    .souvenirs-first h4,
    .exoticFood h4 {
        font-size: 1rem;
    } */
    .souvenirs-first .describe,
    .exoticFood .describe {
        margin: 0 25px 0;
    }
    .souvenirs-first .card,
    .exoticFood .card {
        width: 300px;
    }
    /* .confession-mom .card .remind,
    .eatFood .card .remind,
    .sweet-dessert .card .remind {
        font-size: 0.75rem;
    }
    .souvenirs-first .card .remind,
    .exoticFood .card .remind{
        font-size: 0.75rem;
    }
    .score {
        font-size: 0.75rem;
    }
    .confession-mom .card-footer span,
    .eatFood .card-footer span,
    .sweet-dessert .card-footer span{
        font-size: 0.75rem;
    }
    .souvenirs-first .card-footer span,
    .exoticFood .card-footer span{
        font-size: 0.75rem;
    }
    .confession-mom .card-footer del,
    .eatFood .card-footer del,
    .sweet-dessert .card-footer del{
        font-size: 0.75rem;
    }
    .souvenirs-first .card-footer del,
    .exoticFood .card-footer del{
        font-size: 0.75rem;
    } */
    .copyright .TOday-reserve {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 30px;
    }
}
@media screen and (max-width: 992px){
    header .navbar-toggler{
        width: 40px;
        height: 40px;
        background-color: white;
        position: relative;
    }
    header .navbar-toggler:focus{
        box-shadow: none;
    }
    header .navbar-toggler span{
        background-color: black;
        display: block;
        width: 33px;
        height: 3px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 1s 0s ease;
    }
    header .navbar-toggler span:first-child{
        transform: translate(0, -8px);
    }
    header .navbar-toggler span:last-child{
        transform: translate(0, 8px);
    }
}
@media screen and (min-width: 1200px) {
    header .container{
        max-width: 1200px;
    }
    .souvenirs-banner img {
        height: 485px;
    }
    .todaygift-about .txt {
        max-width: 1200px;
        margin: auto;
    }
    .todaygift-about p {
        margin: 0 220px;
    }
    .todaygift-event h3 {
        max-width: 1200px;
        margin: auto;
        padding: 0 40px 20px;
    }
    .todaygift-event .row {
        max-width: 1200px;
        margin: auto
    }
    .todaygift-event .card {
        margin: 0 25px;
    }
    .confession-mom h3,
    .eatFood h3,
    .sweet-dessert h3 {
        max-width: 1200px;
        margin: auto;
        padding: 0 40px 10px;
    }
    .confession-mom .describe,
    .eatFood .describe,
    .sweet-dessert .describe {
        max-width: 1200px;
        margin: auto;
        padding: 0 40px 20px;
    }
    .confession-mom .card,
    .eatFood .card,
    .sweet-dessert .card {
        width: 270px;
    }
    .confession-mom .row,
    .eatFood .row,
    .sweet-dessert .row {
        max-width: 1200px;
        margin: auto;
        padding-left: 25px;
    }
    .confession-mom .expand,
    .eatFood .expand,
    .sweet-dessert .expand {
        max-width: 1200px;
        margin: auto;
        padding: 0 25px;
    }
    .souvenirs-first .row,
    .exoticFood .row {
        max-width: 1200px;
        margin: auto;
        padding-left: 25px;
    }
    .souvenirs-first .card,
    .exoticFood .card {
        width: 270px;
    }
    .souvenirs-first h3,
    .exoticFood h3 {
        max-width: 1200px;
        margin: auto;
        padding: 0 40px 10px;
    }
    .souvenirs-first .describe,
    .exoticFood .describe {
        max-width: 1200px;
        margin: auto;
        padding: 0 40px 20px;
    }
    .souvenirs-first .expand,
    .exoticFood .expand {
        max-width: 1200px;
        margin: auto;
        padding: 0 25px;
    }
    .copyright .TOday-reserve {
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
    }
    .community i {
        padding: 9px;
    }

}
